* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  height: 746px;
  background: rgba(0, 0, 0, 1);
  position: relative;
  overflow: hidden;
}

.header-title {
  width: 179px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 42px;
  left: 64px;
  font-size: 50px;
  text-align: left;
}

.nav-item {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 42px;
  font-size: 50px;
  text-align: left;
}

.nav-item.inicio {
  left: 899px;
}

.nav-item.sobre {
  left: 1042px;
}

.main-title {
  width: 513px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 258px;
  left: 153px;
  font-size: 80px;
  text-align: left;
}
